<form class="godbound gift-sheet" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-col">
            <div class="flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{name}}" placeholder="Name" />
                </h1>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <label for="gift-description-editor" class="godbound-label">Description:</label>
        <div id="gift-description-editor" class="description resizable-editor">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable
                     async=true engine="prosemirror"}}
        </div>
        <div class="gift-field-row">
            <div class="flexrow">
                <label for="gift-source-input" class="godbound-label">Source:</label>
                <input id="gift-source-input" type="text" name="system.source" value="{{system.source}}"
                       placeholder="Word" />
            </div>
            <div class="flexrow">
                <label for="gift-time-input" class="godbound-label">Time:</label>
                <select id="gift-time-input" name="system.time">
                    {{#select system.time}}
                        <option value=""></option>
                        <option value="Day">Day</option>
                        <option value="Permanent">Permanent</option>
                        <option value="Scene">Scene</option>
                        <option value="Until Cancelled">Until Cancelled</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </section>
</form>
