<section class="attributes-tab flexrow">
    {{!-- Scores --}}
    <div class="attribute-group">
        <div class="modifiers-btn">
            {{#if isNew}}
                <a data-action="generate-scores" title="{{localize 'WWN.dialog.generateScores'}}">
                    <i class="fas fa-dice blinking"></i>
                </a>
            {{/if}}
        </div>
        <ul class="attributes flexrow">
            <li class="attribute ability-score" data-score="str">
                <h4 class="attribute-name box-title" title="Strength">STR</h4>
                <div class="attribute-value">
                    <input name="system.scores.str.value" type="number" value="{{system.scores.str.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.str.mod" type="number" value="{{system.scores.str.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-score="dex">
                <h4 class="attribute-name box-title" title="Dexterity">DEX</h4>
                <div class="attribute-value">
                    <input name="system.scores.dex.value" type="number" value="{{system.scores.dex.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.dex.mod" type="number" value="{{system.scores.dex.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-score="con">
                <h4 class="attribute-name box-title" title="Constitution">CON</h4>
                <div class="attribute-value">
                    <input name="system.scores.con.value" type="number" value="{{system.scores.con.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.con.mod" type="number" value="{{system.scores.con.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-score="int">
                <h4 class="attribute-name box-title" title="Intelligence">INT</h4>
                <div class="attribute-value">
                    <input name="system.scores.int.value" type="number" value="{{system.scores.int.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.int.mod" type="number" value="{{system.scores.int.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-score="wis">
                <h4 class="attribute-name box-title" title="Wisdom">WIS</h4>
                <div class="attribute-value">
                    <input name="system.scores.wis.value" type="number" value="{{system.scores.wis.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.wis.mod" type="number" value="{{system.scores.wis.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-score="cha">
                <h4 class="attribute-name box-title" title="Charisma">CHA</h4>
                <div class="attribute-value">
                    <input name="system.scores.cha.value" type="number" value="{{system.scores.cha.value}}"
                           placeholder="0" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.scores.cha.mod" type="number" value="{{system.scores.cha.mod}}" disabled />
                </div>
            </li>
            <li class="attribute ability-score" data-stat="mov">
                <h4 class="attribute-name box-title" title="Movement (ft)">MOV</h4>
                <div class="attribute-value">
                    <input name="system.movement.base" title="Movement per round" type="number"
                           value="{{system.movement.base}}" placeholder="30"
                           {{#if system.config.movementAuto}}disabled{{/if}} />
                </div>
            </li>
        </ul>
    </div>
    {{!-- Resource Tracking --}}
    <div class="attribute-group">
        <ul class="attributes flexrow">
            <li class="attribute ability-score">
                <h4 class="attribute-name box-title" title="Hit Points">HP</h4>
                <div class="attribute-value">
                    <input name="system.hp.value" type="number" value="{{system.hp.value}}" placeholder="0"
                           title="Current Hit Points" />
                </div>
                <div class="attribute-value attribute-mod">
                    <input name="system.hp.max" type="number" value="{{system.hp.max}}" placeholder="0"
                           title="Maximum Hit Points" />
                </div>
            </li>
        </ul>
        <ul class="attributes flexrow saves">
            <li class="attribute saving-throw">
                <h4 class="attribute-name box-title" title="Armor Class">AC</h4>
                <div class="attribute-value">
                    <input name="system.aac.value" type="number" value="{{system.aac.value}}" placeholder="0"
                           title="Armor Class" disabled />
                </div>
            </li>
            <li class="attribute saving-throw">
                <h4 class="attribute-name box-title" title="Effort">Effort</h4>
                <div class="attribute-value">
                    <input name="system.godbound.effort.total" type="number" value="{{system.godbound.effort.total}}"
                           placeholder="0" title="Effort Total" />
                </div>
            </li>
        </ul>
        {{!-- Saving throws --}}
        <ul class="attributes flexrow saves">
            <li class="attribute saving-throw" data-save="evasion">
                <h4 class="attribute-name box-title">
                    <a>Evasion</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.evasion.value" type="number" value="{{system.saves.evasion.value}}"
                           placeholder="0" disabled />
                </div>
            </li>
            <li class="attribute saving-throw" data-save="mental">
                <h4 class="attribute-name box-title">
                    <a>Spirit</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.mental.value" type="number" value="{{system.saves.mental.value}}"
                           placeholder="0" disabled />
                </div>
            </li>
            <li class="attribute saving-throw" data-save="physical">
                <h4 class="attribute-name box-title">
                    <a>Hardiness</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.physical.value" type="number" value="{{system.saves.physical.value}}"
                           placeholder="0" disabled />
                </div>
            </li>
            <li class="attribute saving-throw" data-save="luck">
                <h4 class="attribute-name box-title">
                    <a>Luck</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.luck.value" type="number" value="{{system.saves.luck.value}}"
                           placeholder="0" disabled />
                </div>
            </li>
        </ul>
    </div>
    <div class="inventory flex2 skills" data-base-size="40"></div>
</section>
