<section class="inventory" data-base-size="310">
    <div class="flexrow">
        <div class="flexrow">
            <label for="remaining-gift-points">Remaining Gift Points</label>
            <input id="remaining-gift-points" value="{{system.godbound.gifts.remainingPoints}}" disabled />
        </div>
        <div class="flexrow">
            <label for="total-gift-points">Total Gift Points</label>
            <input id="total-gift-points" value="{{system.godbound.gifts.totalPoints}}" disabled />
        </div>
    </div>
    <div class="flexrow">
        <div class="flex2">
            <div class="item-titles flexrow">
                <div class="item-caret"><i class="fas fa-caret-down"></i></div>
                <div class="item-name">Greater Gifts</div>
                <div class="field-long" title="{{localize 'WWN.spells.ArtSourceHint'}}">{{localize
                    "WWN.spells.ArtSource"}}
                </div>
                <div class="field-short" title="{{localize 'WWN.spells.Effort'}}{{localize 'WWN.spells.Committed'}}">
                    {{localize "WWN.spells.Effort"}}
                </div>
                <div class="field-short" title="{{localize 'WWN.spells.TimeHint'}}">{{localize "WWN.spells.Time"}}</div>
                <div class="item-controls">
                    <a class="item-control effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
                        class="fas fa-sync"></i></a>
                    <a id="add-greater-gift-button" class="item-control" data-type="art" title="Add"><i
                        class="fa fa-plus"></i></a>
                </div>
            </div>
            <ol class="item-list">
                {{#each system.godbound.gifts.greater as |gift|}}
                    <li class="item-entry">
                        <div class="item flexrow">
                            <div class="item-name item-rollable flexrow">
                                <div class="item-image" style="background-image: url({{img}})"></div>
                                <a>
                                    <h4 title="{{gift.name}}">
                                        {{gift.name~}}
                                    </h4>
                                </a>
                            </div>
                            <div class="field-long artSource">
                                <input value="{{gift.source}}" type="text" placeholder="Word" />
                            </div>
                            <div class="field-short artEffort">
                                <input value="{{gift.effort}}" type="number" data-dtype="Number" />
                            </div>
                            <div class="field-short artTime">
                                <input value="{{gift.time}}" type="text" />
                            </div>
                            <div class="item-controls">
                                <a class="item-control edit-greater-gift-button" title="Edit" data-gift-id="{{gift.id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-control delete-gift-button" title="Delete" data-gift-id="{{gift.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="flexrow">
        <div class="flex2">
            <div class="item-titles flexrow">
                <div class="item-caret"><i class="fas fa-caret-down"></i></div>
                <div class="item-name">Lesser Gifts</div>
                <div class="field-long" title="{{localize 'WWN.spells.ArtSourceHint'}}">{{localize
                    "WWN.spells.ArtSource"}}
                </div>
                <div class="field-short"
                     title="{{localize 'WWN.spells.Effort'}}{{localize 'WWN.spells.Committed'}}">
                    {{localize "WWN.spells.Effort"}}
                </div>
                <div class="field-short" title="{{localize 'WWN.spells.TimeHint'}}">{{localize
                    "WWN.spells.Time"}}</div>
                <div class="item-controls">
                    <a class="item-control effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
                        class="fas fa-sync"></i></a>
                    <a id="add-lesser-gift-button" class="item-control" data-type="art" title="Add"><i
                        class="fa fa-plus"></i></a>
                </div>
            </div>
            <ol class="item-list">
                {{#each system.godbound.gifts.lesser as |gift|}}
                    <li class="item-entry">
                        <div class="item flexrow">
                            <div class="item-name item-rollable flexrow">
                                <div class="item-image" style="background-image: url({{img}})"></div>
                                <a>
                                    <h4 title="{{gift.name}}">
                                        {{gift.name~}}
                                    </h4>
                                </a>
                            </div>
                            <div class="field-long artSource">
                                <input value="{{gift.source}}" type="text" placeholder="High Mage" />
                            </div>
                            <div class="field-short artEffort">
                                <input value="{{gift.effort}}" type="number" data-dtype="Number" />
                            </div>
                            <div class="field-short artTime">
                                <input value="{{gift.time}}" type="text" disabled />
                            </div>
                            <div class="item-controls">
                                <a class="item-control edit-lesser-gift-button" title="Edit" data-gift-id="{{gift.id}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="item-control delete-gift-button" title="Delete" data-gift-id="{{gift.id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
</section>
    <!--{{#if (evalNor system.spells.artsEnabled system.spells.spellsEnabled)}}-->
<!--<h4 style="font-size: 18px; padding-top: 30px; text-align: center;">Drag arts or spells from the compendium to get-->
<!--  started.</h4>-->
    <!--{{/if}}-->
